body {
  font-family: "Open Sans", sans-serif;
  background-color: black; }

.header {
  font-family: "Cormorant Upright", "Open Sans"; }

h4 {
  font-family: "Cormorant Upright", "Open Sans"; }

.jumbotron {
  margin: 0;
  padding: 15px;
  background-color: #252222;
  color: white; }

#logo {
  width: 160px;
  height: 175px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.7); }

#orderButton {
  border-radius: 0; }

#orderButton:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7); }

.img-max-width {
  width: 100%; }

.img-max-size {
  height: 100%;
  width: 100%; }

footer {
  color: white; }

footer a {
  text-decoration: none;
  color: white; }

footer a:hover {
  text-decoration: none;
  color: #b8b8b8; }

footer h5 {
  color: gray; }

@media (min-width: 992px) {
  #header {
    font-size: 5rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  #header {
    font-size: 4rem; } }

@media (min-width: 576px) and (max-width: 767px) {
  #header {
    font-size: 3rem; } }

@media (min-width: 0px) and (max-width: 575px) {
  #header {
    font-size: 2rem; } }
