body {
  font-family: "Open Sans", sans-serif;
  background-color: black; }

.header {
  font-family: "Cormorant Upright", "Open Sans";
  font-size: 5rem; }

h4 {
  font-family: "Cormorant Upright", "Open Sans"; }

.jumbotron {
  margin: 0;
  padding: 15px;
  background-color: #252222;
  color: white; }

#logo {
  width: 160px;
  height: 175px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.7); }

.img-max-width {
  width: 100%; }

.img-max-size {
  height: 100%;
  width: 100%; }

footer {
  color: white; }

footer a {
  text-decoration: none;
  color: white; }

footer a:hover {
  text-decoration: none;
  color: #b8b8b8; }

footer h5 {
  color: gray; }
