$color-dark: #252222;
$color-black-transparent: rgba(0, 0, 0, 0.7);

$body-font: "Open Sans", sans-serif;
$header-font: "Cormorant Upright", "Open Sans";

body {
    font-family: $body-font;
    background-color: black;
}

.header {
    font-family: $header-font;
    font-size: 5rem;
}

h4 {
    font-family: $header-font;
}

.jumbotron {
    margin: 0;
    padding: 15px;
    background-color: $color-dark;
    color: white;
}

#logo {
    width: 160px;
    height: 175px;
}

.navbar {
    background-color: $color-black-transparent;
}

.img-max-width {
    width: 100%;
}

.img-max-size {
    height: 100%;
    width: 100%;
}

footer {
    color: white;
}
footer {
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        text-decoration: none;
        color: rgb(184, 184, 184);
    }
    h5 {
        color: gray;
    }
}