body {
  font-family: "Open Sans", sans-serif; }

.header {
  font-family: "Luckiest Guy", "Open Sans";
  font-size: 5rem; }

.jumbotron {
  margin: 0;
  padding: 15px;
  background-color: #252222;
  color: white; }

#logo {
  width: 160px;
  height: 175px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.5); }
