$color-dark: #252222;
$color-black-transparent: rgba(0, 0, 0, 0.7);

$body-font: "Open Sans", sans-serif;
$header-font: "Cormorant Upright", "Open Sans";

body {
    font-family: $body-font;
    background-color: black;
}

h4 {
    font-family: $header-font;
}

.header {
    font-family: $header-font;
}

.jumbotron {
    margin: 0;
    padding: 15px;
    background-color: $color-dark;
    color: white;
}

#logo {
    width: 160px;
    height: 175px;
}

.navbar {
    background-color: $color-black-transparent;
}

#orderButton {
    border-radius: 0;
}

#orderButton:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

.img-max-height {
    height: 100%;
}

.img-max-width {
    width: 100%;
}

.img-max-size {
    height: 100%;
    width: 100%;
}

footer {
    color: white;
}

footer {
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        text-decoration: none;
        color: rgb(184, 184, 184);
    }
    h5 {
        color: gray;
    }
}

  

@media (min-width: 992px) {
    #header {
        font-size: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #header {
        font-size: 4rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #header {
        font-size: 3rem;
    }
}

@media (min-width: 0px) and (max-width: 575px) {
    #header {
      font-size: 2rem;
    }
}